:host {
    margin-left: .5rem;
    transition: all .7s ease-in-out;
    display: block;
    width: calc(100% - 1rem);
    height: 35px;
    background-color: var(--elements-bg-secondary); 
    transform: skewX(-20deg) scale(1);
    overflow: hidden;
    &:hover {
        background-color: var(--text-generic-color);
        color: var(--elements-bg-secondary); 
    }
}

:host(.selected){
    background-color: var(--text-generic-color);
    color: var(--elements-bg-secondary); 
    .img-container{
        transition: all .7;
        transform: scale(1);
    }
}


.list-item-container{
    display: block;
    width: 100%;
    transform: skewX(20deg);
    height: 100%;
}

.list-item {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    display: flex;
    .img-container{
        margin-left: -10px;
        transform: all .7s ease-in-out;
        transform: skewX(-20deg);
        width: 80px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: cover;
        background-position: center center;
       
    }
    .list-content {
        padding-left: 25px; 
        width: calc(100% - 80px);
        height: 100%;
        display: flex;
        align-items: center;
        font-size: .8rem;   
    }
}