
@media screen and (max-width: 420px) {
    highcharts-chart{
        height: 235px;
    }   
}

@media screen and (max-width: 776px) {
    highcharts-chart{
        height: 350px;
    }   
}

@media screen and (min-width: 1024px) {
    highcharts-chart{
        height: 400px;
    }   
}

