
:host {
    width: 100%;
    height: 100%;
}

.modal-container{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0; 
    left: 0; 
    right: 0; 
    z-index: 200;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;

}

.modal-component{
    transition: all .7s ease-in-out;
    border-radius: var(--global-border-radius);
    transition: height 1s ease-in-out; 
    position: relative; 
    width: 100%;
    background-color: var(--elements-bg-primary);
    color: var(--text-generic-color); 
    padding: 2rem 1.5rem;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
    &.question-mode {
        height: 120px;
        min-height: 100px;
    }
}

.modal__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-title-color); 
    span{
        font-size: 2rem;
        cursor: pointer;
    }
}

.modal__content{
    height: 100%;
    line-height: 2;
    overflow: visible;
}

.modal__footer {
    transition: all .7s ease-in-out;
    text-align: center;
}
.modal__button {
    margin-top: 1rem; 
    padding: .75rem 4rem; 
    text-align: center;
    background-color: var(--c4);
    border: none; 
    border-radius: var(--global-border-radius);
    color: var(--elements-bg-secondary);  
    font-size: 1.4rem;
    font-weight: bold;
}

.modal__feedBackMessage {
    position: absolute;
    top: 0; 
    left: 0; 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    padding: 2rem 1.25rem;
    font-size: var(--font-size-md);
    gap: .75rem; 
}

.modal__veil {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    background-color: rgba(0, 0, 0, 0.5);
}


.feedback-mood{
    height: 60px;
}

.modal__question-actions{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem; 
}

@media screen and (max-width: 500px) {
    
}



