:host {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

h2{
    text-align: center;
}

.allergens-box{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem; 
    justify-content: center;
    .allergens-box-item{
        min-width: 46%; 
        box-shadow: var(--generic-shadow);
        display: flex;
        border-radius: var(--global-border-radius);
        border: 2px solid var(--text-generic-color);
        gap: .75rem; 
        justify-content: center;
        align-items: center;
        padding: .5rem;
        transition: all .7s ease-in-out;
        &:hover {
            transform: translateY(-10px);
            background-color: var(--text-generic-color);
            color: var(--elements-bg-primary); 
        }

        &:active {
            transition: all .1s ease-in-out;
            transform: translateY(5px);

            &.selected {
                background-color: transparent;
                color: var(--text-generic-color)
            }
        }

        &.selected {
            background-color: var(--text-generic-color);
            color: var(--elements-bg-primary);
        }
    }
}