:host {
    display: block;
    width: 100%;
}
.container{
  position: relative;
  .progress-label{
    display: flex;
    padding: .25rem; 
    justify-content: space-between;
    position: relative;
    font-size: .75rem;
  }
}

.progress {
  width: 100%;
    height: .75rem;
    padding: 6px;
    background: rgba(0, 0, 0, 0.411);
    border-radius: 6px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);

    @keyframes progressAnimation {
      0%   { 
        width: 5%;
        background-color: var(--c3);
      }
      100% { 
        width: var(--actual-value); 
        background-color: var(--c6);
      }
    }
} 
.progress2 {
  padding: 6px;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.25);  
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar2 {
  height: .75rem;
  border-radius: 30px;
  background-image: 
  linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  transition: 0.4s linear;  
  transition-property: width, background-color;    
}

.progress-moved .progress-bar2 {
  width: var(--actual-value); 
  background: linear-gradient(90deg , var(--c3), var(--c6));  
  animation: progressAnimation 1s 1s;
  animation-fill-mode: backwards;
}


  

  