    $menu-size: 50px;
    .container {
        width: 100%;
        height: 100%;

    }
    
    .sidebar-menu {
        z-index: 100;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        display: flex;
        &.opened {
            .content {
                transform: translateX(50px);
            }
        }
    }
    
    .navigation {
        position: relative;
        z-index: 1;
        background-color: var(--elements-bg-primary);
        width: 50px;
        height: 100%;
    }
    
    .navigation__list {
        list-style: none;
        display: flex;
        flex-direction: column;
    }
    
    .navigation__item.activeItem {
        background-color: var(--prim-color);
        border-right: 3px solid var(--text-generic-color);
    }
    
    .navigation__link {
        text-decoration: none;
    }
    
    .navigation__icon {
        color: var(--text-generic-color);
        width: 50px;
        height: 50px;
        font-size: 1.75rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .content {
        position: absolute;
        top: 0;
        bottom: 0;
        background-color: var(--elements-bg-secondary);
        width: 450px;
        padding: 1rem; 
        transform: translateX(-100%);
        transition: all .6s ease-in-out;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem; 
        border-right: 2px solid var(--text-generic-color); 
    }
    
    @media screen and (max-width: 600px) {
        .sidebar-menu {
            border-top: 2px solid var(--text-title-color);
            left: 0;
            right: 0;
            top: calc(100% - 50px);
            width: 100%;
            &.opened {
                .content {
                    transform: translateY(calc(-100%));
                }
            }
        }
        .navigation {
            height: 50px;
            width: 100%;
        }
        .navigation__list {
            flex-direction: row;
            justify-content: center;
        }
        .content {
            width: 100%;
            height: calc(100vh - 50px);
            left: 0;
            right: 0;
            transform: translateX(0%);
        }
        .no-phone {
            visibility: hidden;
            opacity: 0;
            pointer-events: none;
        }

        .app-content{
            padding-left: 0; 
            padding-bottom: $menu-size;
            height: 100%;
        }

        .navigation__item.activeItem {
            background-color: var(--prim-color);
            border:none !important; 
            border-top: 3px solid var(--text-generic-color) !important;
        }
    }