:host {
    display: block;
    position:relative; 
    height: 50px;
}

.action-bar{
    position: fixed; 
    display: flex;
    justify-content: flex-end;
    z-index: 99;
    background-color: var(--elements-bg-primary);
    width: 100%;
    height: 50px;
    li {
        position: relative;
        cursor: pointer; 
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        font-size: 1rem;
        color: var(--text-generic-color); 
    }
}

.weil {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.699); 
    position: fixed;
    top: 0; 
    bottom: 0; 
    left: 0;
    right: 0; 
    z-index: 98;
}

.sub-menu{
    transition: all .5s ease-in-out; 
    animation: appearFromTop .5s ease-in-out; 
    background-color: var(--elements-bg-secondary);
    position: fixed; 
    height: 100px;
    top: 50px; 
    z-index: 99;
    left: 0; 
    right: 0;  
    li{
        cursor: pointer;
        gap: .5rem; 
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-size: var(--font-size-normal);
        letter-spacing: .05rem;
        width: 100%;
        color: var(--text-generic-color); 
        .icon {
            height: 50px;
            width: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &:hover {
            background-color: var(--elements-bg-primary);
        }
    }

}

@media screen and (min-width: 600px) {
    .action-bar{
        width: calc(100% - 50px);
    }

    .sub-menu {
        li{
            margin-left: 50px;
            width: calc(100% - 50px);
        }
    }
    
}

@keyframes appearFromTop {
    0%{
        transform: translateY(-100%);
    }

    100%{
        transform: translateY(0);
    }
    
}


