.meal-form__component{
    
    display: flex;
    gap: 2rem; 
    flex-direction: column;
    padding-top: .5rem;
}

.mode-selectors{
    width: 100%;
    display: flex;
    justify-content: center;
    .selector-box{
        width: 50%;
        transition: all .5s ease-in-out;
        cursor: pointer;
        border: none; 
        font-family: inherit;
        font-size: .80rem;
        display: inline-block;
        padding: .25rem .5rem; 

        &:nth-child(1){
            border-top-left-radius: var(--global-border-radius);
            border-bottom-left-radius: var(--global-border-radius);
        }
        &:nth-child(2){
            border-top-right-radius: var(--global-border-radius);
            border-bottom-right-radius: var(--global-border-radius);
        }


    }

    .selector-box.selected {
        font-weight: bold;
        background-color: var(--text-generic-color);
    }
}